:root {
	--primary: hsl(160deg, 100%, 30%);
	--secondary--light: hsl(45deg, 100%, 50%);
	--secondary--dark: hsl(45deg, 100%, 40%);
	--black: hsl(0deg, 0%, 0%);
	--grey--darkest: hsl(0deg, 0%, 10%);
	--grey--dark: hsl(0deg, 0%, 30%);
	--grey--medium: hsl(0deg, 0%, 40%);
	--grey--light: hsl(0deg, 0%, 60%);
	--white: hsl(0deg, 0%, 100%);
	--padding-x: 24px;
	--border-height: 8px;
}

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	margin: 0;
}

h1 {
	font-size: 2rem;
}

p {
	font-size: 1.25rem;
	line-height: 1.4;
}

strong {
	color: var(--primary);
}

header {
	border-block-end: var(--border-height) solid var(--grey--medium);
}

main {
	background-color: var(--grey--light);
	padding: 96px 0;
}

.max-width-wrapper {
	padding-inline: var(--padding-x);
	margin-inline: auto;
	max-width: 800px;
}

.intro-chunk {
	padding: 96px 0 48px;
	max-width: 400px;
}

.intro-chunk .title {
	margin-block-end: 48px;
}

.card {
	background-color: var(--white);
	border-block-end: var(--border-height) solid var(--grey--medium);
	padding: var(--padding-x);
	margin: calc(-1 * var(--padding-x));
}

.card p:last-child {
	margin-block-end: 0;
}

.indented-heading {
	--heading__padding-block: 16px;
	--heading__padding-inline: calc(var(--padding-x) + 8px);

	background-color: var(--secondary--light);
	border-block-end: var(--border-height) solid var(--secondary--dark);
	width: fit-content;
	padding: var(--heading__padding-block) var(--heading__padding-inline);
	margin-inline-start: calc(-1 * var(--heading__padding-inline));
	margin-block-start: calc(-1 * var(--heading__padding-block));
}
